acme==1.21.0
anyio==3.6.2
asttokens==2.2.1
attrs==21.2.0
Automat==20.2.0
autopep8==2.0.1
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.4
captcha==0.4
certbot==1.21.0
certbot-dns-cloudflare==1.18.0
certbot-dns-digitalocean==1.18.0
certbot-nginx==1.21.0
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
cloud-init==22.4.2
cloudflare==2.8.14
colorama==0.4.4
comm==0.1.2
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
debugpy==1.6.5
decorator==5.1.1
distro==1.7.0
distro-info===1.1build1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.4
executing==1.2.0
fastapi==0.89.1
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.20.2
httptools==0.5.0
httpx==0.23.3
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
ipykernel==6.20.2
ipython==8.8.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.0.3
josepy==1.10.0
jsonpatch==1.32
jsonpickle==2.0.0+dfsg1
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==7.4.9
jupyter_core==5.1.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.8.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.6
more-itertools==8.10.0
nest-asyncio==1.5.6
netifaces==0.11.0
oauthlib==3.2.0
packaging==23.0
parsedatetime==2.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycodestyle==2.10.0
pydantic==1.10.4
Pygments==2.14.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyICU==2.8.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pyTelegramBotAPI==4.9.0
pyTelegramBotCAPTCHA==1.1.4
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-digitalocean==1.16.0
python-dotenv==0.19.2
python-magic==0.4.24
python-telegram-bot==20.0
pytz==2022.1
PyYAML==5.4.1
pyzmq==25.0.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
schedule==1.1.0
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.3.1
ssh-import-id==5.11
stack-data==0.6.2
starlette==0.22.0
systemd-python==234
texttable==1.6.4
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
Twisted==22.1.0
typing_extensions==4.4.0
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.20.0
uvloop==0.17.0
wadllib==1.3.6
watchfiles==0.18.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.4
xkit==0.0.0
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
xtlsapi